**What is 7 to the power of 4?**

In [2]:
x=4
y=7
z=y**x
print(z)

2401

Split this string:

s = "Hi there Sam!"

into a list.

In [3]:
str="Hi there Sam!"
m=str.split(" ")
print(m)

['Hi', 'there', 'Sam!']

Given the variables:

planet = "Earth"
diameter = 12742

Use .format() to print the following string:

The diameter of Earth is 12742 kilometers.

In [4]:
a="The diameter of {planet} is {diameter} kilometers."
b=a.format(planet="Earth",diameter=12742)
print(b)

The diameter of Earth is 12742 kilometers.

Given this nested list, use indexing to grab the word "hello"

In [5]:
lst = [1,2,[3,4],[5,[100,200,['hello']],23,11],1,7]

In [7]:
lst =[1,2,[3,4],[5,[100,200,['hello']],23,11],1,7]
print(lst[3][1][2][0])

hello

**Given this nest dictionary grab the word "hello". Be prepared, this will be annoying/tricky**

In [9]:
d = {'k1':[1,2,3,{'tricky':['oh','man','inception',{'target':[1,2,3,'hello']}]}]}

In [10]:
d = {'k1':[1,2,3,{'tricky':['oh','man','inception',{'target':[1,2,3,'hello']}]}]}
print(d['k1'][3]["tricky"][3]['target'][3])

hello

**What is the main difference between a tuple and a list?**

In [27]:

"The main difference between tuple and list is that the tuple is immutable where as list is mutable"

'The main difference between tuple and list is that the tuple is immutable where as list is mutable'

Create a function that grabs the email website domain from a string in the form:

user@domain.com

So for example, passing "user@domain.com" would return: domain.com

In [12]:
def domainGet(email):
  print(email.split('@')[-1])
email=input("please enter your email:>")
domainGet(email)

please enter your email:>user@domain.com
domain.com

Create a basic function that returns True if the word 'dog' is contained in the input string. Don't worry about edge cases like a punctuation being attached to the word dog, but do account for capitalization.

In [13]:
def findDog(st):
  if'dog' in st.lower():
    print("True")
  else:
      print("False")
st=input("Please key a string:>")
findDog(st)

Please key a string:>dog
True

Create a function that counts the number of times the word "dog" occurs in a string. Again ignore edge cases.

In [14]:
string=input("Enter your string:")
def countdogs(string):
  count=0
  for word in string.lower().split():
    if word=='dog' or word=='dogs':
      count=count+1
      print(count)
countdogs(string)

Enter your string:This dog is my pet dog
1
2

Problem
You are driving a little too fast, and a police officer stops you. Write a function to return one of 3 possible results: "No ticket", "Small ticket", or "Big Ticket". If your speed is 60 or less, the result is "No Ticket". If speed is between 61 and 80 inclusive, the result is "Small Ticket". If speed is 81 or more, the result is "Big Ticket". Unless it is your birthday (encoded as a boolean value in the parameters of the function) -- on your birthday, your speed can be 5 higher in all cases.

In [22]:
def caught_speeding(speed, is_birthday):
    
    if is_birthday:
        speeding = speed - 5
    else:
        speeding = speed
    
    if speeding > 80:
        return 'Big Ticket'
    elif speeding > 60:
        return 'Small Ticket'
    else:
        return 'No Ticket'

In [23]:
caught_speeding(81,False)

'Big Ticket'

In [24]:
caught_speeding(81,True)

'Small Ticket'

Create an employee list with basic salary values(at least 5 values for 5 employees) and using a for loop retreive each employee salary and calculate total salary expenditure.

In [25]:
def expenditure(employee_count, salary):
	if employee_count > 40:
		return 40 * salary + (employee_count - 40) * salary * 1.5
	else:
		return employee_count * salary


employee_count = 5
salary = 7000

pay = expenditure(employee_count, salary)

print(f"Total is {pay:.2f} ")

Total is 35000.00

Create two dictionaries in Python:

First one to contain fields as Empid, Empname, Basicpay

Second dictionary to contain fields as DeptName, DeptId.

Combine both dictionaries.

In [26]:
def Merge(dict1, dict2):
	return(dict2.update(dict1))
dict1 = {'Empid': 1, 'Empname': 'Madhu', 'Basicpay':3000}
dict2 = {'DeptName': 'IT', 'DeptId': 37}
print(Merge(dict1, dict2))
print(dict2)

None
{'DeptName': 'IT', 'DeptId': 37, 'Empid': 1, 'Empname': 'Madhu', 'Basicpay': 3000}